.vscode

conf/frontend.config.json
conf/backend.config

backend/venv
backend/__pycache__


frontend/dist

bundle
eb_bundle.zip
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
