.vscode

conf/frontend.config.json
conf/frontend.config.json.tmp
conf/backend.config
conf/deploy.frontend.config.json
conf/deploy.backend.config

venv
backend/venv
backend/__pycache__


frontend/dist

bundle
eb_bundle*.zip
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
