files:
  "/etc/yum.repos.d/logstash.repo":
    mode: "000755"
    owner: root
    group: root
    content: |
      [logstash-6.x]
      name=Elastic repository for 6.x packages
      baseurl=https://artifacts.elastic.co/packages/6.x/yum
      gpgcheck=1
      gpgkey=https://artifacts.elastic.co/GPG-KEY-elasticsearch
      enabled=1
      autorefresh=1
      type=rpm-md

commands:
  "100-update-java":
    command: "sudo yum -y install java-1.8.0-openjdk"
  "101-swith-java":
    command: "sudo alternatives --set java /usr/lib/jvm/jre-1.8.0-openjdk.x86_64/bin/java"
  "200-rpm-key":
    command: "rpm --import https://artifacts.elastic.co/GPG-KEY-elasticsearch"
  "201-yum-install":
    command: "sudo yum -y install logstash"
  "300-add-group":
    command: "sudo usermod -a -G adm logstash"
  "301-change-group":
    command: "sudo chown -R root:logstash /etc/logstash"
  "401-change-perm":
    command: "sudo chmod 0775 /etc/logstash; sudo chmod -R 0664 /etc/logstash/*; sudo chmod 0775 /etc/logstash/conf.d"
