[DEFAULT]
DebugMode = True
FlaskPort = 5000
FlaskHost = localhost

[TESTING]
Testing = True

[JUPYTERAPI]
AuthToken = SampleToken
APIURL = http://example.com/hub/api

[CADRE_META_DATABASE_INFO]
database-host=127.0.0.1
database-port=5432
database-name=SAMPLE_DB
database-username=SAMPLE_USER
database-password=SAMPLE_PASSWORD

[AUTH]
verify-token-endpoint=https://example.com/api/authenticate-token
APIURL=http://example.com

[DATA]
APIURL=http://example.com

[AWS]
aws_access_key_id=YOUR_KEY
aws_secret_access_key=YOUR_SECRET
region_name=us-east-2
package_queue=sqs-queue-url
s3_root_dir=cadre-file-archive

